<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>

<form action="/login" method="post">
    <table>
        <tbody>
            <tr>
                <td> mail: </td>
                <td>
                    <input type="text" name="email">
                </td>
            </tr>
            <tr>
                <td> password: </td>
                <td>
                    <input type="text" name="password">
                </td>
            </tr>
            <tr>
                <td></td>
                <td><button> login </button></td>
            </tr>
        </tbody>
    </table>
</form>

</body>
</html>